// minimize button classes  []
// remove bigDarkButton     []


//FORMS
textarea {
  resize:vertical;
  height:140px;}

select{background-color: #fff;
&:hover{background-color:#fff;}}

// Input elements
input[type=text], input[type=password], input[type=email], textarea, select, input[type=number]{
  border:none;
  @include round;
  @include border-spacing-default;
  @include border;
  margin:0px;
  box-shadow:none;
  outline:none;
  width:100%;
  &:hover{
    background:$white;}
  &:focus{
    background:$white;
    border-color:$base-border-color-focus;}
}

// Default button will appear orange
// Use button colour class to apply different colours
.nb-button, input[type="submit"]{
  cursor:pointer;
  @include border-spacing-default;
  @include round;
  font-weight:700;
  white-space:pre;
  font-size:$base-font-size * 1.25;
	color:white;
	background:$orange; //default color
  border:none;
  line-height: $unitless-line-height * 2;
  &:hover{
		color:$white;
    background:$dark-orange;
    border:none;}
  &:active{
    background:$light-orange;}
	@media screen and (max-width: 640px) {
    font-size:$base-mobile-font-size * 1.25;
    line-height: $unitless-mobile-line-height * 2;
  }
}

// Full width button on mobile
.fullButton{
  @media screen and (max-width: 640px) {
    width: 100%;
    display: block;
    padding:0px;
    margin-left:0px !important;
    margin-right:0px !important;
  }
}

// Larger button
.bigButton{
  border:$orange 3px solid !important;
  font-family:'Open Sans', sans-serif;
  &:hover{
    border-color:$dark-orange !important;}
  &:active{
    border-color:$light-orange !important;}
}

// Larger dark button
.bigDarkButton{
  border:$dark-blue 3px solid !important;
  &:hover{
    border-color:$blue !important;}
  &:active{
    border-color:$light-blue !important;}
}

// Change colour of button
.orangeButton{
	background:$orange !important;
	color:#fff !important;
	&:hover{
		background:$dark-orange !important;}
	&:active{
		background:$light-orange !important;}
}

// Change colour of button
.darkBlueButton{
	background:$dark-blue !important;
	color:#fff !important;
	&:hover{
		background:$blue !important;}
	&:active{
		background:$light-blue !important;}
}

// Default button
button{
  cursor:pointer;
  @include border-spacing;
  @include round;
  font-weight:700;
  white-space:pre;
  font-size:$base-font-size * 1.25;
  color:white;
  background:$orange; //default color
  border:none;
  &:hover{
    color:$white;
    background:$dark-orange;
    border:none;}
  &:active{
    background:$light-orange;}
  @media screen and (max-width: 640px) {
    font-size:$base-mobile-font-size * 1.25;
    line-height: $unitless-mobile-line-height * 2;
  }
}
