// fix padding and margin spacing []

// CLASSSES
// center stuff
.center{
	display:block;
	margin:0 auto;}

// removes margin
.no-margin{margin:0px !important;}

// creates box
// .box{@include box;}

// display
.block{display:block}
.none{display:none;}
.unlocked{display:block !important;}

// adds padding
.padding{@include padding;}
.padding-small{@include padding-small;}
.padding-x2{@include padding-x2;}
.padding10{padding:10%;}
.padding15{padding:15%;}
.padding20{padding:20%;}
.padding30{padding:30%;}
.padding-bottom-x3{@include padding-bottom-x3;}
.padding-top{@include padding-top;}

// adds margin
.margin{@include margin;}
.margin-small{@include margin-small;}
.marginMobile{@media screen and (max-width: 640px) {@include margin;}}
.marginTablet{@media screen and (max-width: 1025px) {@include margin;}}
.margin-x2{@include margin-x2;}
.margin10{margin:10%;}
.margin15{margin:15%;}
.margin20{margin:20%;}
.margin30{margin:30%;}

img{
	display: block;
	max-width:100%;
	margin:0 auto;}

.max35{max-width:35%;}
